#qqWidget {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(0,0,0,0.1);
}

#qqTitle {
  border: 1px solid rgba(0,0,0,0.1);
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 5px;
}

QFrame#qqTitle QLabel {
  font-weight: bold;
}

QLabel#quizTitleLabel {
  padding-bottom: 5px;
}

QRadioButton::indicator {
  subcontrol-position: left top;
  padding: 0;
}
